a.login-field__signup.btn {
    background: lightcyan;
    color: black;
}

.actions {
    text-align: center;
    margin-top: 2rem;
}

input.btn.login-field__btn {
    background: lightgrey;
    border: 1px solid black;
}

a,
a:hover {
    text-decoration: none !important;
}

a.btn.btn-primary {
    color: black;
    background: white;
    border: 1px solid;
}

.btn-primary {
    color: #212529;
    background-color: var(--btn-primary-color) !important;
    border-color: var(--btn-primary-color);
}

.btn-primary:hover {
    color: var(--btn-secondary-color);
    border-color: var(--btn-secondary-color);
}

.btn-primary:focus,
.btn-primary.focus {
    color: var(--btn-secondary-color);
    border-color: var(--btn-secondary-color);
    box-shadow: 0 0 0 0.2rem var(--btn-secondary-color);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #212529;
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c17a74;
    border-color: #bd726b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 228, 228, 0.5);
}

.btn-secondary {
    color: #212529;
    background-color: var(--btn-secondary-color) !important;
    border-color: var(--btn-secondary-color);
}

.btn-secondary:hover {
    color: #212529;
    background-color: #c7d3ff;
    border-color: #212529;
}


/* .btn-secondary:focus,
.btn-secondary.focus {
    color: #212529;
    background-color: #c7d3ff;
    border-color: #bac9ff;
    box-shadow: 0 0 0 0.2rem rgba(206, 210, 223, 0.5);
} */

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #212529;
    background-color: var(--btn-secondary-color);
    border-color: var(--btn-secondary-color);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #212529;
    background-color: #bac9ff;
    border-color: #adbfff;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(206, 210, 223, 0.5);
}

.search-btn {
    border: none;
    background: none;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
}

button.btn-primary,
button.btn-secondary {
    border-radius: 10px;
    color: white;
}

input#order_item_quantity {
    background-color: #808e9b !important;
    border-radius: 10px;
    margin-inline: 5px;
    color: white;
}