a.login-field__signup.btn {
    background: lightcyan;
    color: black;
}

.actions {
    text-align: center;
    margin-top: 2rem;
}

input.btn.login-field__btn {
    background: lightgrey;
    border: 1px solid black;
}

a,
a:hover {
    text-decoration: none !important;
}

a.btn.btn-primary {
    color: black;
    background: white;
    border: 1px solid;
}

.search-btn {
    border: none;
    background: none;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
}