input#order_item_quantity {
    width: 23%;
    text-align: center;
}

.cart-heading {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.item-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding-block: 15px;
}

form.edit_order_item {
    display: flex;
    justify-content: right;
}

form[action="/empty_cart"] {
    text-align: center;
}

a.btn-primary {
    background-color: var(--btn-primary-color) !important;
}

div#cart {
    float: right;
}

.btn.border {
    width: 90px;
    font-size: 25px;
}

input[value="Empty cart"] {
    background: var(--btn-secondary-color);
    border-radius: 10px;
    border: none;
    padding: 9px 15px;
    color: white;
    font-weight: 700;
}