@media screen and (max-width: 768px) {
    #modal {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 14px;
        padding: 8px;
        width: 100% !important;
    }
    div#modal {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 90vh !important;
    }
    .btn-group-toggle.d-flex {
        flex-flow: wrap;
    }
    input#product_product_picture {
        width: 100%;
    }
    #modal .field * {
        width: 100%;
    }
}

#modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    padding: 8px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#content {
    border-radius: 8px;
    background: #fff;
    padding: 20px;
}

#close {
    position: absolute;
    background: url(s3://shop-app-active-storage/close.png.png) 0 0 no-repeat;
    width: 24px;
    height: 27px;
    background-position: center;
    background-size: 20px;
    display: block;
    text-indent: -9999px;
    top: 7px;
    right: 7px;
}