.review-items__item {
    padding: 1rem;
}

.product-page__reviews {
    padding: 5px;
}

.review-form {
    padding: 1rem;
}

.product-page__reviews {
    margin-block: 3rem;
}

.product-page__reviews .reviews-header {
    padding-inline: 1rem;
}

.review-title__field input {
    width: 97.8%;
}

textarea#review_body {
    width: 98%;
    height: 90px;
}

.submit-review {
    padding: 5px 1rem !important;
    font-weight: 900 !important;
    color: #fff !important;
    border-radius: 10px !important;
}

textarea#review_body,
input#review_title {
    border: 1px solid;
    border-radius: 15px;
}

textarea#review_body:focus,
input#review_title:focus {
    border: 1px solid var(--btn-secondary-color);
}

.new_review .field:not(.field:last-child) {
    padding-top: 25px;
}

.new_review .field:last-child {
    text-align: center;
}

input.btn.btn-primary.submit-review.border-none {
    padding-inline: 40px !important;
}

.new_review label {
    font-weight: 700;
}