.product-page__detail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

img.product__image {
    height: 458px;
}

.product-info {
    padding-block: 5rem;
}

.product-page__info,
.cards {
    background-color: white;
    padding: 2rem !important;
    box-shadow: 0px 1px 22px 1px rgba(128, 142, 155, .30);
    border-radius: 15px;
}